.search {
    top: 30px;
}

.like-hd {
    margin-top: 0;
    margin-bottom: 5px;
}

.like-bd ul li {
    position: relative;
}

.like-bd ul li .join-cart {
    display: none;
    position: absolute;
    top: 135px;
    left: 50px;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #fff;
    font-family: 'icomoon';
}

.like-bd ul li:hover .join-cart {
    display: block;
}

.cart-filter-bar {
    height: 40px;
    line-height: 40px;
}

.allgoods {
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #ed1b55;
}

.address {
    float: right;
}

.cart-thead {
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: #f4f4f4;
}

.cart-thead span {
    margin-right: 100px;
}

.cart-thead .goods {
    margin-left: 100px;
    margin-right: 500px;
}

.cart-tbody {
    border-top: 2px solid #666;
}

.cart-tbody>li.checked {
    background-color: #fff4e8;
}

.goods-item {
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid #ccc;
    border-top: 0;
}

.goods-item>div {
    float: left;
}

.check {
    width: 60px;
    padding-left: 10px;
}

.goods-img {
    float: left;
    width: 100px;
    height: 90px;
}

.goods-img img {
    border: 1px solid #e4e4e4;
    transition: all .5s;
}

.goods-img img:hover {
    border-color: #ed1b55;
    border-radius: 3px;
    transform: scale(1.02);
    opacity: .7;
}

.infor {
    position: relative;
    float: left;
    width: 400px;
    height: 90px;
    line-height: 20px;
    font-family: 'icomoon';
}

.infor>a {
    width: 250px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.infor>p,
.goods-gift>span {
    position: absolute;
    top: 0;
    right: 60px;
}

.infor>div {
    margin-top: 10px;
}

.infor>div i {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    text-align: center;
    line-height: 18px;
    background-color: #ed1b55;
    color: #fff;
}

.goods-gift {
    position: relative;
    width: 500px;
    height: 20px;
    line-height: 20px;
    color: #999;
}

.goods-gift>p {
    display: inline-block;
    width: 330px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goods-price {
    width: 180px;
    padding-left: 100px;
}

.goods-price>div {
    width: 40px;
    margin-top: 6px;
    margin-left: 20px;
    border: 1px solid #ed1b55;
    color: #ed1b55;
}

.goods-price>div i {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 2px;
    border-right: 1px solid #ed1b55;
    border-bottom: 1px solid #ed1b55;
    transform: rotate(45deg) translateY(-3px);
}

.goods-num {
    width: 150px;
    padding-left: 35px;
    text-align: center;
}

.goods-num .count-num {
    width: 90px;
    height: 22px;
    border: 1px solid #ccc;
}

.count-num button {
    float: left;
    width: 19px;
    height: 20px;
}

.count-num button.disabled {
    opacity: .3;
    cursor: not-allowed;
}

.count-num input {
    float: left;
    width: 50px;
    height: 20px;
    text-align: center;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.goods-num p {
    margin-top: 3px;
    margin-left: -25px;
}

.goods-count {
    width: 140px;
    padding-left: 25px;
    color: #333;
}

.goods-operate {
    width: 168px;
    padding-left: 30px;
    line-height: 20px;
}


/* 结算模块 */

.options-box {
    height: 50px;
    margin: 20px auto;
}

.options-box .options {
    width: 1120px;
    height: 50px;
    line-height: 48px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-right: 0;
}

.options .fl>a {
    margin-left: 15px;
}

.options .fr span em {
    margin: 0 3px;
    font-weight: 600;
    color: #ed1b55;
}

.options .fr span i {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    /* 先移动，再旋转 */
    transform: translateX(5px) rotate(-45deg);
}

.options .fr>em {
    margin: 0 20px;
}

.options .fr>em b {
    font-size: 16px;
    font-weight: 700;
    color: #ed1b55;
}

.options-box>a {
    width: 80px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #ed1b55;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.options-box>a:hover {
    opacity: .8;
}

.cart-recom {
    text-align: center;
}

.cart-recom h3 {
    position: relative;
    margin-bottom: 5px;
    color: #333;
}

.cart-recom h3::before,
.cart-recom h3::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 18px;
    height: 0;
    border-top: 2px solid #f1f1f1;
}

.cart-recom h3::before {
    left: 510px;
}

.cart-recom h3::after {
    right: 510px;
}

.cart-recom h3 i {
    margin-right: 5px;
    font-family: 'icomoon';
    color: #ed1b55;
}